<div class="card">
  <div class="card-body">
    <table style="text-align: left; margin:5px">
      <tr>
        <th>Author:</th>
        <td>{{ Post.author }}</td>
      </tr>
      <tr>
        <th>System Id:</th>
        <td>{{ Post.id }}</td>
      </tr>
      <tr>
        <th>Author Id:</th>
        <td>{{ Post.authorId }}</td>
      </tr>
      <tr>
        <th>Likes:</th>
        <td>{{ Post.likes }}</td>
      </tr>
      <tr>
        <th>Popularity</th>
        <td>{{ Post.popularity }}</td>
      </tr>
      <tr>
        <th>Reads</th>
        <td>{{ Post.reads }}</td>
      </tr>
      <tr>
        <th>Tags</th>
        <td>{{ Post.tags }}</td>
      </tr>
    </table>


 </div>
</div>
